
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.gif {
    height: 100px;
    width: 100px;
}
p {
    color: gray;
}
.hello {
    color: gray;
}
footer {
    display: inline;
    color:gray;
    margin: bottom;
}
p, footer, .p {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .icons:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }